.progress {
  @apply h-2 rounded-box;
  @apply relative w-full appearance-none overflow-hidden;
  &::-moz-progress-bar {
    @apply bg-neutral;
  }
  &-primary::-moz-progress-bar {
    @apply bg-primary;
  }

  &:indeterminate {
    --progress-color: hsl(var(--n));
  }
  &-primary:indeterminate {
    --progress-color: hsl(var(--p));
  }
  &::-webkit-progress-bar {
    @apply bg-neutral/20 rounded-box;
  }
  &::-webkit-progress-value {
    @apply bg-neutral-focus rounded-box;
  }
  &-primary::-webkit-progress-value {
    @apply bg-primary;
  }
}
.progress:indeterminate {
  background-image: repeating-linear-gradient(
    90deg,
    var(--progress-color) -1%,
    var(--progress-color) 10%,
    transparent 10%,
    transparent 90%
  );
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}
.progress:indeterminate::-moz-progress-bar {
  @apply bg-neutral/20;
  background-image: repeating-linear-gradient(
    90deg,
    var(--progress-color) -1%,
    var(--progress-color) 10%,
    transparent 10%,
    transparent 90%
  );
  background-size: 200%;
  background-position-x: 15%;
  animation: progress-loading 5s ease-in-out infinite;
}

@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}
